---
import { Picture } from 'astro:assets'
import Container from './Container.astro'
import ArrowDownTray from 'astro-heroicons/solid/ArrowDownTray.astro'

import screenshot1 from '../assets/screenshot_1.png'
import appicon from '../assets/appicon.webp'
import appstoreBadge from '../assets/appstore_badge.png'
import googlePlayBadge from '../assets/google_play_badge.png'
---

<Container>
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="w-2/3 md:w-auto mx-auto order-last md:order-first p-6 flex items-center">
      <Picture src={screenshot1} formats={['avif', 'webp']} alt="screenshot 1" loading="eager" class="w-full drop-shadow-[0_0_25px_rgba(200,200,255,0.1)]" />
    </div>
    <div class="p-12 col-span-1 md:col-span-2 flex flex-col justify-center items-center">
      <div class="w-24 h-24 mb-6 relative">
        <Picture src={appicon} formats={['avif', 'webp']} alt="appicon" loading="eager" class="rounded-box blur-md absolute scale-95" />
        <Picture src={appicon} formats={['avif', 'webp']} alt="appicon" loading="eager" class="rounded-box absolute" />
      </div>
      <div class="text-4xl md:text-6xl font-bold mb-8 md:mb-6">EQMonitor</div>
      <div class="text-xl font-bold mb-8 md:mb-6 text-center span-break"><span>EQMonitorは、</span><span>日本全国の地震情報を</span><span>いち早く受信できる</span><span>アプリケーションです。</span></div>
      <div class="flex flex-col md:flex-row justify-center md:w-96">
        <div class="px-2 py-2 md:py-0">
          <div class="text-lg mb-2 flex justify-center md:justify-normal"><ArrowDownTray class="h-6 w-6 mr-2" />iPhone / iPad</div>
          <a href="https://apps.apple.com/us/app/eqmonitor-%E5%9C%B0%E9%9C%87%E9%80%9F%E5%A0%B1/id6447546703" target="_blank">
            <Picture src={appstoreBadge} formats={['avif', 'webp']} alt="appstore badge" loading="eager" class="mx-auto max-h-16 w-auto" />
          </a>
        </div>
        <div class="px-2 py-2 md:py-0">
          <div class="text-lg mb-2 flex justify-center md:justify-normal"><ArrowDownTray class="h-6 w-6 mr-2" />Android</div>
          <a href="https://play.google.com/store/apps/details?id=net.yumnumm.eqmonitor" target="_blank">
            <Picture src={googlePlayBadge} formats={['avif', 'webp']} alt="google play badge" loading="eager" class="mx-auto max-h-16 w-auto" />
          </a>
        </div>
      </div>
    </div>
  </div>
</Container>

<style>
  .span-break span {
    @apply inline-block;
  }
</style>
